
<form action="">
<h1>CINEPOLIS</h1>
  <div>
  <!-- ENTRADAS -->
    <h2>Entradas</h2>
      <label for="nombre">nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>

      <label for="cc">Tarjeta Cineco</label><br>
        <input type="radio" id="si" name="si" value="true" [(ngModel)]="descuento">
        <label for="si">Sí</label>
        <input type="radio" id="no" name="no" value="false"[(ngModel)]="descuento">
        <label for="no">NO</label><br>

      <label for="cb">Cantidad de boletas:</label><br>
        <input type="number" id="cb" name="cb" [(ngModel)]="cantBoletos"><br>
  </div>
  <br>
  <!-- ACCIONES -->
  <div>
    <h2>Acciones</h2>
    <button  (click)="comprar()" type="submit" value="procesar" >Procesar</button>
    <button  (click)="comprar()" type="submit" value="procesar" >Salir</button>
  </div>
  <br>
 <!-- SALIDAS -->
    <div>
      <h2>Salidas</h2>
      <h1>Valor a pagar: {{valorPagar}}</h1>
    </div>
  <br>
</form>
